@font-face {
  font-family: "iconfont"; /* Project id 5177399 */
  src: url('//at.alicdn.com/t/c/font_5177399_n7oi47jxo9j.woff2?t=1778695031547') format('woff2'),
       url('//at.alicdn.com/t/c/font_5177399_n7oi47jxo9j.woff?t=1778695031547') format('woff'),
       url('//at.alicdn.com/t/c/font_5177399_n7oi47jxo9j.ttf?t=1778695031547') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chuang:before {
  content: "\e623";
}

.icon-xiuxishi:before {
  content: "\e624";
}

.icon-yigui:before {
  content: "\e625";
}

.icon-xiuxianqu:before {
  content: "\e626";
}

.icon-kuandai:before {
  content: "\e627";
}

.icon-weibolu:before {
  content: "\e628";
}

.icon-reshuiqi:before {
  content: "\e629";
}

.icon-chugui:before {
  content: "\e62a";
}

.icon-yingyinqu:before {
  content: "\e62b";
}

.icon-canzhuo:before {
  content: "\e62c";
}

.icon-chouyouyanji:before {
  content: "\e62d";
}

.icon-kongtiao:before {
  content: "\e62e";
}

.icon-nuanqi:before {
  content: "\e62f";
}

.icon-shafa:before {
  content: "\e630";
}

.icon-jianshenfang:before {
  content: "\e631";
}

.icon-huikequ:before {
  content: "\e632";
}

.icon-bingxiang:before {
  content: "\e633";
}

.icon-xiyiji:before {
  content: "\e634";
}

